/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  display: flex;
  background-color: #FFFFFF;
}

.Sidemenu {
  background-color: #74B9E8;
  display: flex;
  flex-direction: column;
  /* flex-flow: column wrap; */
  gap: 15px;
  padding: 15px;
}

.sidebtn {
  background-color: #403F63;
  color: #FFFFFF;
  height: 40px;
  min-width: 150px;
  max-width: 150px;
  display: block;
  align-items: center;
  font-size: small;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  text-align: center;
  text-decoration: none;
  align-self: center;
  align-content: center;
  line-height: 300%; /*Needed to center the text inside the label, to look like the buttons*/
  cursor: pointer;
}
.sidebtn:active {
  transform:translateY(2px)
}

input[type="file"] {
  display: none;
}

#exportbtn {
  margin-top: 180%;
}

.MainArea {
  background-color: #FFFFFF;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.MainArea canvas {
  background-color: #FFFFFF;
  width: auto;
  height: auto;
}
.imageViewer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.bgCanvasArea {
  position: relative;
}

.bgCanvasDiv {
  max-width: 600px;
  max-height: 600px;
  overflow: scroll;
  position: relative;
}

.dropAreaDiv {
  /* background-color: aquamarine; */
  position:absolute;
  border-style: dashed;
  border-width: 1px;
  cursor: pointer;
}

.DragElementsArea {
  border-style: solid;
  border-radius: 10px;
  border-color: #ED474A;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
}

.RightArea {
  display: flex;
  flex-direction: column;
  background-color: #ED474A;
  color: #FFFFFF;
  padding: 10px;
  align-items: center;
}

.PreviewSnippetArea {
  display: flex;
  flex-direction: column;
  background-color: #ED474A;
  color: #FFFFFF;
  padding: 10px;
  align-items: center;
  border-bottom-style: solid;
  border-width: 1px;
}

.PreviewSnippetArea canvas {
  border-style:groove;
  border-color: #ed474a81;
  align-self: center;
  background-color: #ED474A;
  margin: 10px;
}

.SetAnswerArea {
  display: flex;
  flex-direction: column;
  background-color: #ED474A;
  color: #FFFFFF;
  padding: 10px;
  align-items: center;
  border-bottom-style: solid;
  border-width: 1px;
}
